# Visual Studio local state
.vs/
*.user
*.suo
*.sqlite
VSWorkspaceState.json

# C# build output
bin/
obj/

# C/C++ build output
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate